<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="mi-visor">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
    </style>

    <div class="container">
        <div class="row">
            <img src="https://image.flaticon.com/icons/svg/2091/2091681.svg" width="200px" height="200px">
        </div>
        <div class="row">
            <button type="button" on-click="incrementar" class="btn btn-secondary">Cargar Datos</button>
            <input type="text" value={{prop1::input}} />
            <input type="text" value=[[prop1]] />
        </div>
        <div class="row">
            <table class="table table-striped">
                <thead>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                </thead>
                <tbody>
                    <tr>
                        <td>[[prop2]]</td>
                        <td>Selena </td>
                        <td>Mora</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Leandro</td>
                        <td>Gao</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class MiVisor extends Polymer.Element {
      static get is() { return 'mi-visor'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'mi-visor'
          },
          prop2 :{
            type: Number,
            value: 9999
          }
        };
      }

      incrementar(){
        this.prop2 += 1
        console.log(this.prop1)
        console.log(this.prop2)

      }
    }

    window.customElements.define(MiVisor.is, MiVisor);
  </script>
</dom-module>
